#myfoot{
    text-align: center;
    padding-bottom: 30px;
}

span, i {
    margin: 0px 15px 0px 15px;
    color: #939393;
}

i {
    cursor: pointer; 
    -webkit-transition: color .3s; /* Safari */
    transition: color .3s;
    transition-timing-function: ease-in-out;

}

i:hover {
    color: #0288d1;
}