<div id="about-wrapper" @fadeIn>
  <h2>A Little About Me</h2>
  <img src="../assets/CroppedMug250.png" alt="Me!" height="250" width="250">
  <div id="about-info">
    Hi! I'm Dan and I'm a front end developer. I mainly focus on web and mobile development, 
    but I also have a lot of experience with game development and design. 
    I love learning new technologies and have been trying to 
    transition more into a full stack developer recently. 
    I am a fan of all types of media, but developing something new and 
    innovative is what really interests me. Whether that’s the next big web app, 
    a new mobile experience, or a game with unexplored mechanics, creating something 
    interesting is a goal for every project I work on.
    <br>
    <br>
    As for my hobbies, video/board games are always at the top, whether that’s playing or creating them. 
    I also enjoy watching movies/TV, learning new skills/about new topics, and physical fitness(the hardest for me to keep up with).    
  </div>
</div>
