mat-toolbar{
    justify-content: center;
    position: fixed;
    height: 64px;
    z-index: 1;
}

img{
    position: relative;
    top: 5px;
    right: 10px;
}

span:focus{
    outline: none;
    border: 0;
}

.mat-button {
    border-radius: 0px;
    font-size: 16px;
}

.active {
    border-bottom: 2px solid #ffb300;
}

.blue{
    color:#0288d1;
}

#nameBar{
    padding-top: 10px;
    background-color: white;
}

#smNav{
    display: none;
    position: absolute;
    left: 80px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px){
    #smNav{
        display: block;
    }

    #exNav{
        display: none;
    }

    #homeBtn{
        position: absolute;
        left: 40px;
    }
}