<!-- <mat-toolbar id="nameBar">
    <span>Daniel <span class="blue">Martin</span></span>
</mat-toolbar> -->
<mat-toolbar color="primary">
    <!-- <span id="homeBtn"><img src="../../assets/HomeIconV1.png" alt="Icon"></span> -->
    <span id = "exNav">
        <button mat-button routerLink="/work" routerLinkActive="active">Work</button>
        <button mat-button routerLink="/about" routerLinkActive="active">About</button>
        <button mat-button (click)="openResume()">Resume</button>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="navMenu" id ="smNav">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>


<mat-menu #navMenu="matMenu">
    <button mat-menu-item routerLink="/work">
      <mat-icon>memory</mat-icon>
      <span>Work</span>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>mood</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item (click)="openResume()">
      <mat-icon>insert_drive_file</mat-icon>
      <span>Resume</span>
    </button>
</mat-menu>