section{
    margin-bottom: 60px;
}

.list-wrap{
    float: left;
    width: 45%;
    padding: 0px 10px 10px 10px;
}

a{
    text-decoration: none;
    color: #0288d1;
}

#homewrap{
    max-width: 1000px;
    width: 70%;
    margin: 0px auto 0px auto;
    padding-top: 100px;
}

#welcome-sec{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

#skills-sec{
    overflow: hidden;
    padding-bottom: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
    #work-img{
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    #homewrap{
        width: 90%;
        padding: 100px 10px 20px 10px;
    }

    .list-wrap{
        width: 100%;
        padding: 0px 10px 10px 10px;
    }

    #welcome-sec{
        font-size: 25px;
    }
}