<div id = "homewrap">
  <section id="links">
    <h1
      *ngFor = 'let link of links'
      (mouseenter) = "showInfo(link.id)"
      (mouseleave) = "linkHover(link.id)"
      [@hoverSlide]="link.isHovered ? 'hovered' : '*'"
      routerLink = '{{link.linkTo}}'>
      {{link.title}}
    </h1>
  </section>
  <section 
    id = "info" 
  >
    <div id = "imgwrap">
      <img src="../assets/CroppedMug500.png" alt="Me!" height="250" width="250" *ngIf="activeInfo == 0">
    </div>
    <div id="infoContent" [innerHTML]="infoText"></div>
  </section>
</div>



