<div id = "homewrap">
  <section id="welcome-sec">
    <span>Welcome to my portfolio! Please, take a look around and let me know what you think!</span>
  </section>
  <section id="work-sec">
      <h2>My Recent Work:</h2>
      <h3>African Heritage Food Co-op</h3>
      <p>View the <a href="https://myahfc.com/" target="_blank">full site</a> or read more about the project <a routerLink="/work">here</a></p>
      <img src="../../assets/AHFC.png" alt="AHFC Community Page" id="work-img">
  </section>
  <section id="skills-sec">
    <h2>Some things that I work with:</h2>
    <div *ngFor="let cat of categories" class="list-wrap">
      <h3>{{cat.title}}</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of cat.skills" [disableRipple]="true" [selectable]="false">{{skill}}</mat-chip>
      </mat-chip-list>
    </div>
  </section>
</div>